.nav_toggle {
    font-size: 30px;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
}


.links{
    display: inline-flex;
   
    flex-direction: row;
    justify-content: center;
    list-style: none;
    height: 0;
    overflow: hidden;
    transform: all 2.5s;
}
li{
    padding-left: 2rem;
    
}
a{
    text-decoration: none;
    color: black;
}
.active_nav{
    height: 10rem;
}

